
// svg.feather.feather-menu(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

header
	#navbar-container.container
		nav.navbar(role='navigation' aria-label='main navigation')

			.navbar-brand
				a.navbar-item(href='/')
					img(src='https://bulma.io/images/bulma-logo.png' width='112' height='28')

				a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasic')
					span(aria-hidden='true')
					span(aria-hidden='true')
					span(aria-hidden='true')

			#navbarBasic.navbar-menu
				.navbar-start
				.navbar-end
					.navbar-item
						a.navbar-item(href='/landing/a')  Page A
						a.navbar-item(href='/landing/b')  Page B
						a.navbar-item(href='/blog')  Blog

