extends ../_includes/plainLay.pug

block conf
	- var pg_title = 'HEY.pro'

block main

	.mt-4
	span List of blogs

	div(x-data='blogs', x-cloak)
		#blogs
			input.input.search(placeholder='Search')
			.mt-2
			button.button.sort(data-sort='blog_title') By title
			p
			.mt-4
			.list

	script.
		requestAnimationFrame(function () {
			depp.require(['list', 'log', 'alpine'], async function () {
				// alpine should remove the x-cloak
				log.info('list js loaded')
				const options = {
					valueNames: ['blog_title', { name: 'pg_url', attr: 'href' }],
					item: '<div><span>' + '<a class="pg_url"> <span class="blog_title"></span> </a>' + '<hr><p></p></span></div>'
				}

				const response = await fetch('/blog/_generated.json')
				let blogs = await response.json()
				log.debug(blogs)
				const blogList = new List('blogs', options, blogs)
			}) /* req */
		}) //raf