---
# advanced page, can generate list of blog posts, employees, anything
layout: ../_includes/zitemsLay.pug
blog_title: 'Blog Two'
pg_title: 'Pg title B'
---

h3 #{ blog_title }
p Hey, this is cool blog B. And?
p Mostly you use plain layout, the item type layouts are more advanced.

