doctype html
<html lang="en-GB">
	head
		// does not work, but line after does
		//<link rel='preload' href='/landing/b/img.jpg' crossOrigin='anonymous' as='image' />
		img(src='/landing/b/img.jpg' style='display: none')

		- var pg_title = 'Second page'
		include ../../_includes/_head

		// specific to this page:
		style.
			#hero {

				background-color: #c0c0c0 !important;
				background: url('/landing/b/img.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;

			}

	body
		// simple page with no layout or collections, it uses includes

		include ../../_includes/_header

		section.hero.is-success.is-halfheight#hero
			.hero-body
				div
					p.title
						| Half height hero
					p.subtitle
						| Half height subtitle


		include ../../_includes/_footer
