---
# advanced page, can generate list of blog posts, employees, anything
layout: ../_includes/zitemsLay.pug
blog_title: 'Blog Something'
pg_title: 'Pg title C'
ex: 'just a how to, not implemented, but json can filter'
public: False
---

h3 #{ blog_title }
p Hey, this is cool blog C. Just a touch!
p Mostly you use plain layout, the item type layouts are more advanced.

