@font-face {
	font-family: ArchVFo;
	src: url(/assets/fonts/ArchivoNarrow-VariableFont.woff2) format('woff2');
	font-display: block;
}
@font-face {
	font-family: ExVFo;
	src: url(/assets/fonts/Exo2-VariableFont.woff2) format('woff2');
	font-display: block;
}
@font-face {
	font-family: RobMonoVFo;
	src: url(/assets/fonts/RobotoMono-VariableFont.woff2) format('woff2');
	font-display: block;
}
@font-face {
	font-family: LatoB;
	src: url(/assets/fonts/Lato-Bold.woff2) format('woff2');
}
/* *,
html {
	font-family: ExVFo;
	font-variation-settings: 'wght' 300;
}
.robMonoVFo {
	font-family: RobMonoVFo;
	font-variation-settings: 'wght' 300;
}
h1 {
	font-family: ArchVFo;
	font-variation-settings: 'wght' 700;
}
h2 {
	font-family: ArchVFo;
	font-variation-settings: 'wght' 520;
}
h3 {
	font-family: ArchVFo;
	font-variation-settings: 'wght' 380;
}
h4 {
	font-family: ArchVFo;
	font-variation-settings: 'wght' 350;
	font-style: italic;
}
h5 {
	font-family: ExVFo;
	font-variation-settings: 'wght' 450;
}
h6 {
	font-family: ExVFo;
	font-variation-settings: 'wght' 200;
	font-style: italic;
}
/*---------------------------------------------------------------- */

/* for alpine */
[x-cloak] {
	display: none !important;
}

*,
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smooth: antialiased;
	text-rendering: geometricPrecision;
}

bxody {
	text-shadow: 0.01rem 0.01rem 0.08rem black, -0.02rem -0.02rem 0.01rem white;

	/* moves footer to bottom on short pages */
	min-height: 100vh;
	min-height: 100dvh;
	grid-template-rows:
		auto
		1fr
		auto;
}
